<div class="app" id="app">
    <!-- ############ LAYOUT START-->
    <div class="padding">
        <div class="navbar">
            <div class="pull-center">
                <!-- brand -->
                <a href="index.html" class="navbar-brand">
                    <div data-ui-include="'images/logo.svg'"></div>
                    <img src="images/logo.png" alt="." class="hide">
                    <span class="hidden-folded inline">Login Admin</span>
                </a>
                <!-- / brand -->
            </div>
        </div>
    </div>
    <div class="b-t">
        <div class="center-block w-xxl w-auto-xs p-y-md text-center">
            <div class="p-a-md">
                <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <input name="username" class="form-control" placeholder="User name" [(ngModel)]="form.username"
                            #username="ngModel">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Password"
                            [(ngModel)]="form.password" #password="ngModel">
                    </div>
                    <div class="m-b-md">
                        <label class="md-check">
                            <input type="checkbox"><i class="primary"></i> Keep me signed in
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg black p-x-lg">Sign in</button>
                </form>
                <div>
                    <a href="#" class="btn btn-block indigo text-white m-b-sm">
                        <i class="fa fa-facebook pull-left"></i>
                        Sign in with Facebook
                    </a>
                    <a href="#" class="btn btn-block red text-white">
                        <i class="fa fa-google-plus pull-left"></i>
                        Sign in with Google+
                    </a>
                </div>
                <div class="m-y text-sm">
                    OR
                </div>
                <div class="m-y">
                    <a href="forgot-password.html" class="_600">Forgot password?</a>
                </div>
                <div>
                    Do not have an account?
                    <a href="signup.html" class="text-primary _600">Sign up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ############ LAYOUT END-->
</div>